.payment{
    background-color: white;
    display: flex;
        
}


.payment__container > h1{
    justify-content: center;
    padding: 10px;
    font-weight:400;
    background-color: rgb(234,237,237);
    border-bottom: 1px solid lightgray;
    align-items: center;
    
}

.payment__container > h1 a {
    text-decoration: none;
}

.payment__section{
    display: flex;
    padding: 20px;
    margin:0 20px;
    border-bottom: 2px solid lightgray;    
}

.payment__title {
    flex: 0.2;
    margin-right: 30px;
}
.payment__address , .payment__items, .payment__details{
    flex: 0.8;
}

.payment__details > button {
    background-color: #f0c14b !important; /* Add !important to override other styles */
    border-radius: 2px;
    border: 1px solid #a88734;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}
.payment__details > button:hover{
    background-color: #ddb347 !important; /* Add !important to override other styles */
}


