.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Ensure proper spacing between elements */
    width: 100%;
    max-width: 300px; /* Set a maximum width for each product */
    margin: 10px; /* Add spacing between products */
    padding: 20px;
    background-color: white;
    z-index: 1;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    font-weight: 700;
    font-size: 14px; /* Set a base font size for the product text */
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
    text-align: center;
}

.product > img {
    max-height: 200px; /* Limit the height of the image */
    width: 100%; /* Make the image responsive */
    object-fit: contain; /* Ensure the image fits without distortion */
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

.product__rating {
    display: flex;
    justify-content: center;
}

.product button {
    background-color: #cd9042; /* Brown color */
    color: white; /* White text */
    border: none;
    padding: 10px 20px; /* Ensure consistent padding for all buttons */
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.4s ease;
    width: 100%; /* Make all buttons the same width */
    text-align: center; /* Center-align the button text */
}

.product button:hover {
    background-color: #9b722f; /* Darker brown on hover */
}

